html
  head
    meta(charset="utf-8")
    title 直播演示系统
    link(rel="stylesheet" href="./styles/main.styl")

  body
    h1 直播消息推送演示系统
    video#video-ctnr
    p.stream-intro.intro-text ↑ 直播视频流
    div#log-ctnr
    p.log-intro.intro-text ↑ Websocket 日志
    script(src="./main.ts")